<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container center-align ">
      
    </br>
  </br>
</br>
</br>
      <i class="material-icons prefix large">mood_bad</i>
      <h1>Oops.!</h1>
      <h3>404 - Page Not Found....!</h3>
   
  </body>
</html>
